project:
  type: website
  resources:
    - "images/*.svg"
    - "CNAME"

website:
  title: "JoVI"
  site-url: https://journalovi.org
  image: images/jovi_wordmark_white_bg.png
  favicon: images/jovi_logo.svg
  open-graph: true
  twitter-card:
    site: "@JournalOVI"
  repo-url: https://github.com/journalovi/journalovi.github.io
  repo-actions: [edit, issue]
  navbar:
    title: false
    logo: images/jovi_wordmark.svg
    logo-alt: JoVI
    type: dark
    tools:
      - icon: twitter
        href: https://twitter.com/journalOVI/
        text: JoVI Twitter
      - icon: mastodon
        href: "https://hci.social/@jovi"
        text: JoVI Mastodon
        rel: me
      - icon: github
        href: https://github.com/journalovi/journalovi.github.io
        text: JoVI Github
      - icon: rss-fill
        href: news.xml
        text: JoVI RSS
    left:
      - href: index.qmd
        text: About
      - text: Articles
        menu:
        - icon: box-arrow-up-right
          href: https://journals.aau.dk/index.php/jovi/issue/current
          text: Current Issue
          target: _blank
        - icon: box-arrow-up-right
          href: https://journals.aau.dk/index.php/jovi/catalog/category/infoplus
          text: "Collection: Information+"
          target: _blank
        - icon: box-arrow-up-right
          href: https://journals.aau.dk/index.php/jovi/catalog/category/interactive
          text: "Collection: Interactive"
          target: _blank
        - icon: box-arrow-up-right
          href: https://journals.aau.dk/index.php/jovi/catalog/category/visxai
          text: "Collection: VISxAI"
          target: _blank
        - href: under-review.qmd
          text: Under Review
      - text: Submissions
        menu:
        - href: submit.qmd
          text: How to submit
        - href: author-guide.qmd
          text: Author guidelines
        - href: reviewer-guide.qmd
          text: Reviewer guidelines
      - href: code-of-conduct.qmd
        text: Code of Conduct
      - href: people.qmd
        text: People
      - href: news.qmd
        text: News

  page-footer:
    left: |
      Licensed under [CC-BY-SA](https://creativecommons.org/licenses/by-sa/4.0/)
    right:
      - icon: twitter
        href: https://twitter.com/journalOVI/
        aria-label: JoVI Twitter
      - icon: mastodon
        href: "https://hci.social/@jovi"
        aria-label: JoVI Mastodon
      - icon: github
        href: https://github.com/journalovi/journalovi.github.io
        aria-label: JoVI Github
      - icon: rss-fill
        href: news.xml
        aria-label: JoVI RSS

format:
  html:
    theme: theme.scss
    toc: true
    linkcolor: "#9E005D"

execute:
  freeze: auto
