/* NAVBAR */

.navbar {
  background: white !important;
  background-image: logo.svg;
  border: none;
  border-bottom: 2px solid #9E005D;
}

.navbar-brand {
  font-size: 0;
}

.navbar-brand > img {
  max-height: 27px;
}

.header-section-number {
  color: #aaa;
  float: right;
  display: block;
  padding-left: 0.5em;
  font-size: 0.75em;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link.active {
  color: #9E005D !important;
}


/* LAYOUT */
.col-lg-2 {
  max-width: 275px;
}
.col-lg-7 {
  max-width: 790px;
}
@media (min-width: 992px) {
  .col-lg-2 {
    width: 25%;
  }
  .col-lg-7 {
    width: 75%;
  }
  .px-lg-4 {
    padding-right: calc(var(--bs-gutter-x) / 2) !important;
    padding-left: calc(var(--bs-gutter-x) / 2) !important;
  }
}


/* HEADINGS */

section .header-section-number {
  /* 0.25em/0.75em = 0.33em to get baseline alignment back given font size */
  padding-top: 0.33em;
  font-weight: 300;
}

.sidebar-toc .header-section-number {
  display: block;
}

h1, .h1 {
  font-weight: bold;
}

h2, .h2 {
  margin-top: 2.5rem;
  font-size: calc(1.3rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2, .h2 {
      font-size: 1.9rem;
  }
}

h3, .h3 {
  font-size: calc(1.15rem + 0.3vw);
  font-weight: bold;
}

h4, .h4 {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.01rem;
}
